@using StoreProject.Common
@using StoreProject.Common.Services
@using StoreProject.Features.Category.DTOs
@using StoreProject.Features.Category.Services
@using StoreProject.Features.Shared
@inject ICategoryManagementService _categoryManagementService
@inject IFileManager _fileManager;
@model StoreProject.Features.Product.Model.ProductEditModel
@{
    Layout = "_AdminLayout";

    var Categories = _categoryManagementService.GetExistedCategories();

    ViewData["selected"] = "products";
    ViewData["Title"] = "Products Management";
    ViewData["ControllerName"] = "Products";
    ViewData["ActionName"] = "Edit Product";
}

<div class="card card-info">

    <form asp-controller="Products" asp-action="EditProduct" asp-antiforgery="true" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="card-body">

            <input type="hidden" asp-for="Id"/>
            <img src="@Directories.GetProductImage(Model.ImageUrl)" alt="Product Image" width="150px" height="85px"/>

            

            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="Title"></label>
                    <input type="text" class="form-control" asp-for="Title">
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <div class="form-group col-md-6">
                    <label asp-for="Slug"></label>
                    <input type="text" class="form-control" asp-for="Slug">
                    <span asp-validation-for="Slug" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="Price"></label>
                    <input class="form-control" asp-for="Price">
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>

                <div class="form-group col-md-6">
                    <label asp-for="Stock"></label>
                    <input class="form-control" asp-for="Stock">
                    <span asp-validation-for="Stock" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="ProductImage"></label>
                    <input type="file" asp-for="ProductImage" class="form-control"/>
                    <span asp-validation-for="ProductImage" class="text-danger"></span>
                </div>

                <input type="hidden" asp-for="ImageUrl"/>

                <div class="form-group col-md-6">
                    <label asp-for="CategoryId"></label>
                    <select asp-for="CategoryId" class="form-control">Category
                        <option value="0">Choose:</option>
                        @foreach (var category in Categories)
                        {
                            <option value="@category.Id">@category.Title</option>
                        }
                    </select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
            </div>
            
            <div class="form-group col-md-6">
                <label asp-for="IsDeleted"></label>
                <select asp-for="IsDeleted" class="form-control">Choose:>
                    <option value="null">Select</option>
                    <option value=@false class="text-success">Active</option>
                    <option value=@true class="text-danger">Inactive</option>
                </select>
                <span asp-validation-for="IsDeleted" class="text-danger"></span>
            </div>

            <div class="form-group col-md-6">
                <label asp-for="Description"></label>
                <textarea type="text" class="form-control" asp-for="Description"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div><br />

            <center>
                <div class="form-group">
                    <button type="submit" class="btn btn-info">Edit Product</button>
                </div>
            </center>
    </form>        
</div>


