@model StoreProject.Features.User.Model.SixDigitEmailCodeModel
@{
    Layout = "_AuthLayout";
    ViewData["Title"] = "6 Digit Code";
}
<section class="login_part padding_top">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <div class="login_part_form">
                    <div class="login_part_form_iner">
                        <form class="row contact_form" method="post" asp-controller="Auth" asp-action="SixDigitEmailCode">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <input type="hidden" asp-for="UserName"/>
                            <input type="hidden" asp-for="CalledByAction"/>

                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" asp-for="Code" placeholder="Code">
                                <span asp-validation-for="Code" class="text-danger"></span>
                            </div>

                            <div class="col-md-12 form-group">
                                <button type="submit" class="btn_3">
                                    Confirm
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>