<div class="card-tools">
    <form method="post" asp-antiforgery="true">

        <div class="input-group input-group-sm" style="width: 150px;">
            <input type="text" name="queryValue" 
                class="form-control float-right" placeholder="Search">

            <div class="input-group-append">
                <button type="submit" class="btn btn-default">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </form>
</div>