<!doctype html>
<html lang="zxx">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>@ViewData["Title"]</title>
        <link rel="icon" href="/img/favicon.png">

        <link rel="stylesheet" href="/css/bootstrap.min.css">
        
        <link rel="stylesheet" href="/css/animate.css">
        
        <link rel="stylesheet" href="/css/owl.carousel.min.css">
        <link rel="stylesheet" href="/css/all.css">
        
        <link rel="stylesheet" href="/css/flaticon.css">

        <link rel="stylesheet" href="/css/themify-icons.css">
        
        <link rel="stylesheet" href="/css/magnific-popup.css">
        <link rel="stylesheet" href="/css/slick.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>
        <partial name="_Header" />

        <div class="modal" id="default_Modal" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

              </div>
            </div>
          </div>
        </div>
        
        @RenderBody()

        <partial name="_Footer" />

        <script src="/js/jquery-1.12.1.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/jquery.magnific-popup.js"></script>
        <script src="/js/swiper.min.js"></script>
        <script src="/js/particles.min.js"></script>
        <script src="/js/owl.carousel.min.js"></script>
        <script src="/js/jquery.nice-select.min.js"></script>
        <script src="/js/slick.min.js"></script>
        <script src="/js/jquery.counterup.min.js"></script>
        <script src="/js/waypoints.min.js"></script>
        <script src="/js/jquery.ajaxchimp.min.js"></script>
        <script src="/js/jquery.form.js"></script>
        <script src="/js/jquery.validate.min.js"></script>
        <script src="../../dist/js/global.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="/js/custom.js"></script>
        <script src="/js/store.js"></script>
        @await RenderSectionAsync("Scripts", false)
    </body>

</html>