<div class="search_input" id="search_input_box">
    <div class="container ">
        <form method="post" asp-antiforgery="true" 
            asp-controller="Products" asp-action="SearchPost" 
            class="d-flex justify-content-between search-inner">
            <input name="q" type="text" class="form-control" id="search_input" placeholder="Search Here">
            <button type="submit" class="btn"></button>
            <span class="ti-close" id="close_search" title="Close Search"></span>
        </form>
    </div>
</div>
