@using StoreProject.Common
@using StoreProject.Common.Services
@using StoreProject.Features.Category.DTOs
@using StoreProject.Features.Category.Model
@using StoreProject.Features.Category.Services
@using StoreProject.Features.Shared
@inject ICategoryManagementService _categoryManagementService
@model CategoryEditModel
@{
    Layout = ViewBag.Layout;

    var AvailableCategories = _categoryManagementService.GetExistedCategories()
        .Where(category => category.Id != Model.Id && category.ParentId != Model.Id).ToList();

    if (Layout != "")
    {
        ViewData["selected"] = "categories";
        ViewData["Title"] = "Categories Management";
        ViewData["ActionName"] = "Edit Category";
    }
}

<div class="card card-info">

    <form asp-controller="CategoriesManagement" asp-action="EditCategory" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="card-body">

            <input type="hidden" asp-for="Id"/>

            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="Title"></label>
                    <input type="text" class="form-control" asp-for="Title">
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <div class="form-group col-md-6">
                    <label asp-for="Slug"></label>
                    <input type="text" class="form-control" asp-for="Slug">
                    <span asp-validation-for="Slug" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="ParentId"></label>
                    <select asp-for="ParentId" class="form-control">Parent Category
                        <option value="0">Choose:</option>
                        @foreach (var category in AvailableCategories)
                        {
                            <option value="@category.Id">@category.Title</option>
                        }
                    </select>
                    <span asp-validation-for="ParentId" class="text-danger"></span>
                </div>

                <div class="form-group col-md-6">
                    <label asp-for="IsDeleted"></label>
                    <select asp-for="IsDeleted" class="form-control">Choose:>
                        <option value="null">Select</option>
                        <option value=@false class="text-success">Active</option>
                        <option value=@true class="text-danger">Inactive</option>
                    </select>
                    <span asp-validation-for="IsDeleted" class="text-danger"></span>
                </div>
            </div><br />

            <center>
                <div class="form-group">
                    <button type="submit" class="btn btn-info">Edit Category</button>
                </div>
            </center>
    </form>        
</div>

