<partial name="_BannerPart" />

<section class="feature_part padding_top">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section_tittle text-center">
                    <h2>Featured Category</h2>
                </div>
            </div>
        </div>
        <vc:featured-categories count="4"></vc:featured-categories>
    </div>
</section>

<vc:most-favorited-products count="10"></vc:most-favorited-products>

<vc:best-selling-products count="10"></vc:best-selling-products>
