@using StoreProject.Features.User.Model
@model UserPanelChangePasswordModel
@{
	Layout = "_UserPanelLayout";
	ViewData["Title"] = "Change Password";
	ViewData["ActivePage"] = "Profile";
}

<div class="card">
    <div class="card-body">

        <form asp-antiforgery="true" asp-controller="UserPanelProfile" asp-action="ChangePassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="card-body">

                <div class="form-group col-md-6">
                    <label asp-for="CurrentPassword"></label>
                    <input class="form-control" asp-for="CurrentPassword">
                    <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                </div>

                <br />

                <div class="form-group col-md-6">
                    <label asp-for="NewPassword"></label>
                    <input class="form-control" asp-for="NewPassword">
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                    
                <br />

                <div class="form-group col-md-6">
                    <label asp-for="ConfirmPassword"></label>
                    <input class="form-control" asp-for="ConfirmPassword">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <br />

                <center>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Confirm</button>
                    </div>
                </center>
        </form> 
    </div>
</div>