@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Admin Panel";
}

<section class="content">
    <h3>Operations:</h3>
    <center>
        <div>
            <a class="btn btn-success mr-3" asp-controller="UsersManagement" asp-action="Index">Users Management</a>
            <a class="btn btn-primary mr-3" asp-controller="CategoriesManagement" asp-action="Index">Categories Management</a>
            <a class="btn btn-danger mr-3" asp-controller="ProductsManagement" asp-action="Index">Products Management</a>
        </div>
    </center>
    <br />
    <center>
        <div>
            <a class="btn btn-info mr-3" asp-controller="OrdersManagement" asp-action="Index">Orders Management</a>
            <a class="btn btn-secondary mr-3" asp-controller="ContactMessagesManagement" asp-action="Index">Messages Management</a>
        </div>
    </center>
</section>
